{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}

{% block content %}
    <div class="weather-info" style="text-align: center;">
        <h1 style="font-family: 'Oswald', sans-serif;text-align: center;">{{ city }}</h1>
        <div class="card-group" style="width: 50%; margin: 0 auto">
            {% for item in weather %}
                <div class="card">
                    <img src="{{ item['icon'] }}" class="card-img-top" alt="weather icon">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if loop.index0 == 0 %}
                                Weather for today
                            {% else %}
                                Weather for {{ (date + timedelta(days=loop.index0)).strftime("%Y-%m-%d") }}
                            {% endif %}
                        </h5>
                        <p class="card-text">
                            <ul>
                                <li>What is the weather outside? <strong>{{ item['description'] }}</strong></li>
                                <li>And the temperature? <strong>{{ item['temperature'] }} ⁰C</strong></li>
                                <li>And how about the speed of wind? <strong>{{ item['speed_of_wind'] }} m/s</strong></li>
                            </ul>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}